* {
    background-color: #0F172A;
    color:#E2E8F0;
}
 section {
    border-bottom: 1px solid #334155;
    
 }
 
 header {
    border-bottom: 1px solid #334155;
 }
 
 h1, h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .intro {
   
    display: flex;
    align-items: center;
gap:50px;
padding: 30px;
margin:0 auto;


 }
 .intro img {
    height:450px;
    width: 450px;
    border-radius: 50%;
    margin-left: 100px;
    object-fit: cover;
    transition: transform 0.5s ease-out;
 }
 .intro img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 1px #334155;
 }
 p {
    color: #E2E8F0;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .intro p {
    margin:auto;
    font-size: 22px;
    
 }

.showcase-grid {
    display:grid;
  grid-template-columns: repeat(3,475px);
  grid-template-rows:repeat(3,250px);
    grid-gap: 15px;
    
}
.showcase-grid img {
    width:100%;
    height: 100%;
    transition: transform 0.5s ease-out;
    box-shadow: 0px 0px 10px 1px #334155; 
    object-fit: cover;
}


 
.card {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 15px;
    padding-top: 20px;
    margin-bottom:45px;
    gap: 15px;
}
.cards {
    background-color: #1E293B;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 0px 10px 1px #334155;
    transition:transform 0.5s ease-out;
    
}
.cards p {
    background-color: #1E293B;
}
.cards:hover {
    transform:scale(1.15);
    box-shadow: 0px 0px 3px 4px;
}
.showcase-grid img:hover {
    transform: scale(1.15);
    box-shadow: 0px 0px 3px 4px;
}
.cards img {
    height: 300px;
    width:300px;
    object-fit: center;

}
.cards figure {
    padding: 10px;
    border-bottom: 1px solid #334155;
}
footer {
    text-align: center;
}

@media (max-width: 600px) {
    .intro {
        flex-direction: column;
    text-align:center;
}
    .intro img {
        margin-bottom: 10px;
         margin-left: 10%;
        height:250px;
        width:250px;
    }
    .showcase-grid {
        margin-left: 15%;
    display:grid;
grid-template-columns: 350px;
grid-template-rows: max-content;
    grid-gap: 15px;

    
}
  .card {
flex-direction: column;
gap:20px;
margin-left: 15%;
    }
    .cards {
        width:300px;
    }
    
    .cards img {
    height: 150px;
    width:150px;
    object-fit: center;

}
 }